<!-- Footer -->
<footer class="footer-wrapper">

    <div class="delimiter">
        <a href="/" class="footer-logo">
            <img src="{{ site.url }}/assets/img/base/favicon.png" class="logo-wrapper">
        </a>
    </div>

    <p class="footer-copyright">
        2008 - 2017<br>
        مطالب تحت لیسانس <a href="http://creativecommons.org/licenses/by-nc-nd/3.0/" rel="license" target="_blank">کریتیو کامنز</a> منتشر می‌شوند.

    </p>

    <div class="footer-social-links">
        <a href="{{ site.twitter_path }}" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
        <a href="{{ site.github_path }}" title="Github" target="_blank"><i class="fa fa-github"></i></a>
        <a href="{{ site.medium_path }}" title="Medium" target="_blank"><i class="fa fa-medium"></i></a>
        <a href="{{ site.linkedin_path }}" title="Linkedin" target="_blank"><i class="fa fa-linkedin"></i></a>
        <a href="{{ site.facebook_path }}" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
    </div>


 </footer>
<!-- /Footer -->