<!-- Footer -->
<footer class="footer-wrapper">


    <div class="delimiter">
        <a href="/" class="footer-logo">
            <img src="{{ site.baseurl }}/assets/img/base/favicon.png" class="logo-wrapper">
        </a>
    </div>

    <p class="footer-copyright">
        2008 - 2017<br>
        مطالب تحت لیسانس <a href="http://creativecommons.org/licenses/by-nc-nd/3.0/" rel="license" target="_blank">کریتیو کامنز</a> منتشر می‌شوند.

    </p>

    <div class="footer-social-links">
        <a href="{{ site.twitter_path }}" target="_blank" class="social-icon-wrap footer-twitter-wrapper"></a>
        <a href="{{ site.github_path }}" target="_blank" class="social-icon-wrap footer-github-wrappe"></a>
        <a href="{{ site.medium_path }}" target="_blank" class="social-icon-wrap footer-medium-wrappe"></a>
        <a href="{{ site.facebook_path }}" target="_blank" class="social-icon-wrap footer-facebook-wrappe"></a>
    </div>


 </footer>
<!-- /Footer -->