<meta charset="utf-8">
<meta content="IE-edge,chrome=1" http-equiv="X-UA-Compatable">
<meta name="description" content="{{ site.description }}">
<meta name="viewport" content="width=device-width, initial-scale=1">

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-68873815-10', 'auto');
    ga('send', 'pageview');
</script>

{% if page.title %}
<title>صدرا املشی | {{ page.title }}</title>
{% else %}
<title>وبلاگ صدرا املشی</title>
{% endif %}

<meta property="og:type" content="website">
{% if page.title %}
<meta property="og:title" content="صدرا املشی | {{ page.title }}">
{% else %}
<meta property="og:title" content="وبلاگ صدرا املشی">
{% endif %}
<meta property="og:url" content="{{ site.url }}{{ page.url }}">
{% if page.cover %}
<meta property="og:image" content="{{ page.cover }}" />
{% else %}
<meta property="og:image" content="{{ site.url }}/assets/img/avatar.jpg" />
{% endif %}
{% if page.title %}
<meta property="og:site_name" content="صدرا املشی | {{ page.title }}">
{% else %}
<meta property="og:site_name" content="وبلاگ صدرا املشی">
{% endif %}
<meta property="og:description" content="{{ site.description }}">

<meta name="twitter:card" content="summary">
{% if page.title %}
<meta property="twitter:title" content="صدرا املشی | {{ page.title }}">
{% else %}
<meta property="twitter:title" content="وبلاگ صدرا املشی">
{% endif %}
<meta name="twitter:description" content="{{ site.description }}">
{% if page.cover %}
<meta property="twitter:image" content="{{ site.url }}{{ page.cover }}" />
{% else %}
<meta property="twitter:image" content="{{ site.url }}/assets/img/avatar.jpg" />
{% endif %}

<link rel="alternative" href="/site-map.xml" title="{{ site.title }}" type="application/atom+xml">
<link rel="short icon" type="image/x-icon" href="{{ site.url }}/assets/img/base/favicon.png">
<link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/css/styles.css">
