<!-- Header -->
<header class="header-rtl">
    <nav class="nav-wrap">
        <a href="/" class="nav-logo">{{ site.title }}</a>
        <ul class="navigation">

            <li><a href="/"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></li>
            <li><a href="/list/items"><i class="fa fa-tags" aria-hidden="true"></i></a></li>
            <li><a href="/about"><i class="fa fa-user-circle-o" aria-hidden="true"></i></a></li>
            <li><a href="http://cv.isapanah.com/"><i class="fa fa-address-card-o" aria-hidden="true"></i></a></li>
            <li><a href="https://sadra.github.io/english">English</a></li>

        </ul>
    </nav>
</header>
<!-- /Header -->