<meta charset="utf-8">
<meta content="IE-edge,chrome=1" http-equiv="X-UA-Compatable">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="{{ page.tags | join: ','  }}, {{ page.categories | join: ','  }}">
<meta name="author" content="Sadra Isapanah Amlashi | صدرا عیسی پناه املشی">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-107934487-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-107934487-1');
</script>

<meta name="twitter:card" content="summary">

<meta property="og:type" content="website">
<meta property="og:url" content="{{ site.url }}{{ page.url }}">

{% if page.description %}
<meta name="description" content="{{ page.description }}">
<meta property="og:description" content="{{ page.description }}">
<meta name="twitter:description" content="{{ page.description }}">
{% else %}
<meta name="description" content="{{ site.description }}">
<meta property="og:description" content="{{ site.description }}">
<meta name="twitter:description" content="{{ site.description }}">
{% endif %}


{% if page.title %}
<title>{{ page.title }} | صدرا املشی</title>
<meta property="twitter:title" content="{{ page.title }} | صدرا املشی">
<meta property="og:site_name" content="{{ page.title }} | صدرا املشی">
<meta property="og:title" content="{{ page.title }} | صدرا املشی">
{% else %}
<title>وبلاگ صدرا املشی</title>
<meta property="twitter:title" content="وبلاگ صدرا املشی">
<meta property="og:site_name" content="وبلاگ صدرا املشی">
<meta property="og:title" content="وبلاگ صدرا املشی">
{% endif %}

{% if page.cover %}
<meta property="twitter:image" content="{{ site.url }}{{ page.cover }}" />
<meta property="og:image" content="{{ site.url }}{{ page.cover }}" />
{% else %}
<meta property="twitter:image" content="{{ site.url }}/assets/img/avatar.jpg" />
<meta property="og:image" content="{{ site.url }}/assets/img/avatar.jpg" />
{% endif %}

<link rel="alternative" href="/site-map.xml" title="{{ site.title }}" type="application/atom+xml">
<link rel="short icon" type="image/x-icon" href="{{ site.url }}/assets/img/base/favicon.png">
<link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/css/styles.css">
