<!-- Header -->
<header class="header-rtl">
    <nav class="nav-wrap">
        <a href="/" class="nav-logo">{{ site.title }}</a>
        <ul class="navigation">

            <li><a href="/">یادداشت‌ها</a></li>
            <li><a href="/list/items">موضوعات</a></li>
            <li><a href="/about">درباره</a></li>
            <li><a href="http://cv.isapanah.com/">رزومه</a></li>
            <li><a href="https://sadra.github.io/english">English</a></li>

        </ul>
    </nav>
</header>
<!-- /Header -->