<ifModule mod_headers.c>
    Header set Connection keep-alive
</ifModule>

# -- Error Docs --
ErrorDocument 404 /404.html

# -- Browser Caching --
<IfModule mod_headers.c>
#WEEK
<FilesMatch "\.(css|jpg|jpeg|js|png|gif|woff|swf)$">
    Header set Cache-Control "max-age=604800, public"
</FilesMatch>
</IfModule>

# -- Compression --
SetOutputFilter DEFLATE