---
permalink: /404.html
---
<html lang="Farsi">

<html>
<head>
    {% include theme-rtl/head.html %}
</head>

<body>

    <div class="err404-container">
        <div class="err404-container-content">

            <div class="err404-description-container">

                <h1>404</h1>
                <h2>Your page ain't here, kid.</h2>
                <p>Of all the URLs on all the websites in all the world, you walk into mine...</p>

            </div>

            <div class="err404-movie-container">
                <p>If you want the page, just search it again. You know how to search, don't you, baby? Click on back, and return to my heart. <a href="/">Back</a></p>
            </div>

        </div>
    </div>

    <audio autoplay>
        <source src="/assets/raw/lauren-bacall-singing.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>

{% include theme-rtl/js-link.html %}
</body>
</html>


