.archive-title
  font-size: 1.2em
  margin-bottom: 10px
  color: #546E7A
  @media screen and (max-width: 500px)
    font-size: 1.1em
    margin-bottom: 7px
  span
    color: #37474F
    font-size: 1.3em
    @media screen and (max-width: 500px)
      font-size: 1.2em