.blog-post-container
  direction: rtl
  width: 100%
  transition: all 0.3s ease-in
  position: relative
  z-index: 5
  top: 0
  left: 0
  right: 0
  padding-top: 5px
  padding-left: 5px
  padding-right: 5px
  margin: auto
  @media screen and (max-width: 800px)
    width: 92%
    h1
      font-size: 1.5em
      line-height: 1.3em
  h1, h2, h3, h4, h5, p
    direction: rtl
    text-align: right
  p
    font-size: 1em
    color: $text-paragraph
    font-weight: 100
    line-height: 1.5em
    img
      max-width: 70%
      display: inherit
      height: initial
      margin: 10px auto
      @media screen and (max-width: 700px)
        max-width: 90%
  ol
    li
      line-height: 1.9em !important
      p
        line-height: 1.9em !important
        padding: 0

  ul
    li
      line-height: 1.9em !important
      p
        line-height: 1.9em !important
        padding: 0

  .post-title-container
    width: 100%
    margin-top: 0
    margin-bottom: 20px
    @media screen and (max-width: 600px)
      margin-top: 30px
      margin-bottom: 20px
    @media screen and (max-width: 400px)
      margin-top: 30px
      margin-bottom: 20px
  .post_created
    margin: 40px 0 50px 0
    .author_avatar
      float: right
      margin-left: 20px
      img
        width: 60px
        height: 60px
        border-radius: 50%
    .post_info
      line-height: .8em
      margin-right: 15px
      width: 100%
      p
        line-height: .1em
      small
        font-size: 0.75em
        font-weight: 300
        color: #BDBDBD
        line-height: 1.7em

  .post-routes-list
    margin: 25px 0 30px 5px
    .tag-link
      unicode-bidi: embed
      white-space: nowrap
      display: inline-block
      height: 20px
      font-size: .6em
      margin-bottom: 2px
      margin-left: 3px
      background-color: $element-tag
      color: $element-tag-text
      padding: 5px
      border: solid 1px $element-tag
      border-radius: 3px
      @media screen and (max-width: 500px)
        font-size: 0.55em
        margin-left: 1px
    .tag-link:hover,
    .tag-link:active
      background-color: $element-tag-hover
      border-color: $element-tag-hover
    .tag-link:before
      content: "#"
    .category-link
      unicode-bidi: embed
      white-space: nowrap
      display: inline-block
      height: 22px
      font-size: .7em
      margin-bottom: 2px
      color: $element-category
      padding-top: 5px
      padding-bottom: 5px
      padding-left: 3px
      font-weight: bold
      @media screen and (max-width: 500px)
        font-size: 0.6em
    .category-link:hover,
    .category-link:active
      color: $element-category-hover
    .category-link:after
      content: " / "

  .post-cover
    overflow: hidden
    height: auto
    width: 100%
    margin: 10px 0 30px 0
    img
      width: 100%
  .Prev-next-post-container
    display: flow-root
    direction: ltr
    margin-top: 20px
    clear: both
    a
      text-decoration: none
      display: inline-block
      padding: 8px 16px
      direction: rtl
    .previous-btn
      color: $element-nextprev-btn-title
      float: left
      text-align: left
      width: auto
      @media screen and (max-width: 400px)
        width: 100%
        margin: 5px 5px 5px 0px
    .next-btn
      color: $element-nextprev-btn-title
      float: right
      text-align: right
      width: auto
      @media screen and (max-width: 400px)
        width: 100%
        margin: 5px 0px 5px 5px
    .next-btn:hover,
    .next-btn:active,
    .previous-btn:active,
    .previous-btn:hover
      color: $element-nextprev-btn-title-hover
      background-color: $element-nextprev-btn-background

  .related-posts-container
    display: flex
    margin: 5px 20px 0 20px
    width: 100%
    background-color: $white
    @media screen and (max-width: 800px)
      display: initial
    .related-post-box
      margin: 10px
      width: 30%
      border-radius: 3px
      box-shadow: 0 1px 7px rgba(0,0,0,.2)
      @media screen and (max-width: 800px)
        width: auto
    .related-post-box-info
      height: 85px
      padding: 0 8px 8px 8px
      display: table
      a
        display: table-cell
        vertical-align: middle
        color: #050505
        font-size: 1em
        height: 100%
        overflow: hidden
        line-height: 1.4em
        text-align: right
      a:hover,
      a:active
        color: $text-link-hover
    .related-post-box-cover
      width: 100%
      height: 90px
      overflow: hidden
      background-position: 50% 50% !important
      background-size: 100% auto
      a
        width: 100%
        height: 100%
  .related-posts-title
    margin-top: 25px
  .post-content
    direction: rtl
  .image-wrapper
    img
      margin: 10px 5px 0 5px
    a
      margin: 0
    .image-caption
      text-align: center
      margin: 0 5px
.back-to-top
  cursor: pointer
  position: fixed
  bottom: 5px
  left: 10px
  display: none
  z-index: 9999999
  .arrow-up
    color: rgba(19, 96, 244, 0.8)
    margin: 0
    opacity: .8



