blockquote 
  background: #f9f9f9
  border-right: 10px solid #c76c0c
  border-left: 0
  font-size: 16px
  line-height: 1.2
  text-align: justify
  color: #cccccc
  margin: 1.5em 1.5px
  padding: 15px

blockquote:before
  color: #ccc
  content: " \201D "
  font-family: Georgia, serif
  font-size: 4em
  line-height: 0.1em
  margin-right: 0.16em
  vertical-align: -0.4em
  margin-left: 10px

blockquote p
  display: inline
  color: #414141 !important
