.video-container
  margin: 20px auto
  width: 75%
  @media screen and (max-width: 600px)
    width: 95%
  @media screen and (max-width: 900px)
    width: 90%
  @media screen and (max-width: 1300px)
    width: 85%


