@charset "UTF-8";
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css");
@font-face {
  font-family: "Vazir";
  src: local("Vazir");
  src: url("/assets/fonts/Vazir.eot");
  src: url("/assets/fonts/Vazir.woff");
  src: url("/assets/fonts/Vazir.ttf") format("opentype"); }
@font-face {
  font-family: "Vazir";
  src: local("Vazir");
  src: url("/assets/fonts/Vazir-Bold.eot");
  src: url("/assets/fonts/Vazir-Bold.woff");
  src: url("/assets/fonts/Vazir-Bold.ttf") format("opentype");
  font-weight: bold; }
html {
  font-family: "Vazir", Arial, sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
footer,
header,
nav,
section {
  display: block; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

figcaption,
figure,
main {
  display: block; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  margin: 30px 0; }

pre {
  font-family: "Vazir", Arial, sans-serif;
  font-size: 1em; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

a:active,
a:hover {
  outline-width: 0; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b,
strong {
  font-weight: inherit; }

b,
strong {
  font-weight: bold; }

code,
kbd,
samp {
  font-family: "Vazir", Arial, sans-serif;
  font-size: 1em; }

dfn {
  font-style: italic; }

mark {
  background-color: #ffb101;
  color: #000000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

audio,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

button,
input,
optgroup,
select,
textarea {
  font-family: "Vazir", Arial, sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  border: 1px solid #BDBDBD;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  display: inline-block;
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details,
menu {
  display: block; }

summary {
  display: list-item; }

canvas {
  display: inline-block; }

template {
  display: none; }

[hidden] {
  display: none; }

ul li {
  line-height: 1.6em; }

* {
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in; }

body {
  margin: 0px;
  padding: 0px;
  font-family: "Vazir", Arial, sans-serif;
  font-size: 100%;
  font-weight: 500; }

h3, h2, h1, p, a, small {
  padding: 5px 0;
  margin: 0;
  text-decoration: none;
  list-style: none; }

p {
  font-family: "Vazir", Arial, sans-serif;
  opacity: 0.8; }

.hide {
  display: none; }

h1 {
  color: #000000;
  font-size: 1.9em;
  font-weight: 500;
  line-height: 1.4em;
  opacity: 0.8; }

h2 {
  color: #000000;
  font-size: 1.5em;
  font-weight: 500;
  line-height: 1.2em;
  opacity: 0.8;
  margin-top: 1.2em; }

h3 {
  color: #000000;
  font-size: 1.2em;
  font-weight: 400;
  line-height: 0.9em;
  opacity: 0.8;
  margin-top: 0.9em; }

small {
  font-size: 0.75em;
  font-weight: 300;
  color: #BDBDBD;
  text-transform: uppercase; }

p {
  font-size: 1em;
  font-weight: 200;
  line-height: 2em;
  color: #2b2b2b; }

a {
  color: #1360f4; }

a:hover {
  color: #29B6F6; }

hr {
  border-style: solid;
  color: #2b2b2b;
  opacity: 0.1; }

.hr-padded {
  margin: 100px 0 100px 0; }

.hr-padded-top {
  margin: 100px 0 0 0; }

.overlay-light {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #FFFFFF;
  opacity: 0.9; }

.overlay-dark {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #000000;
  opacity: 0.35; }

.div-ltr, .div-ltr p {
  width: 100%;
  direction: ltr !important;
  text-align: left !important; }

* {
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in; }

body {
  margin: 0px;
  padding: 0px;
  font-family: "Vazir", Arial, sans-serif;
  font-size: 100%;
  font-weight: 500; }

h6, h5, h4, h3, h2, h1, p, a, small {
  padding: 10px 0;
  margin: 0;
  text-decoration: none;
  list-style: none; }

p {
  font-family: "Vazir", Arial, sans-serif; }

.hide {
  display: none; }

table {
  direction: rtl;
  padding: 0;
  border-collapse: collapse;
  font-family: VAZIR, Helvetica, sans-serif;
  text-shadow: 1px 1px 0px #FFFFFF;
  margin: 20px auto;
  border: #BDBDBD 1px solid;
  border-radius: 5px; }
  table th, table tr, table td {
    text-align: inherit; }
  table td {
    border-left: 1px solid #BDBDBD; }
  table td:last-child {
    border-left: 0 solid #BDBDBD; }
  table th {
    border-left: 1px solid #BDBDBD; }
  table th:last-child {
    border-left: 0 solid #BDBDBD; }
  table tr {
    padding: 0;
    background-color: #FFFFFF;
    margin: 0; }
  table tr:nth-child(2n) {
    background-color: #F5F5F5; }
  table tr th {
    font-weight: bold;
    text-align: left;
    margin: 0;
    padding: 8px 16px; }
  table tr td {
    text-align: left;
    margin: 0;
    padding: 8px 16px; }
  table tr th :first-child, table table tr td :first-child {
    margin-top: 0; }
  table tr th :last-child, table table tr td :last-child {
    margin-bottom: 0; }

tbody tr {
  border-top: 1px solid #BDBDBD; }

.table-container {
  overflow-x: scroll;
  padding: 0 5px;
  margin: 20px 0; }

.dir-rtl {
  direction: rtl; }
  .dir-rtl table {
    direction: rtl; }
  .dir-rtl td {
    border-left: 1px solid #BDBDBD;
    border-right: 0 solid #BDBDBD; }
  .dir-rtl td:last-child {
    border-left: 0 solid #BDBDBD; }
  .dir-rtl th {
    border-left: 1px solid #BDBDBD;
    border-right: 0 solid #BDBDBD; }
  .dir-rtl th:last-child {
    border-left: 0 solid #BDBDBD; }
  .dir-rtl th, .dir-rtl tr, .dir-rtl td {
    text-align: inherit; }

.dir-ltr {
  direction: ltr; }
  .dir-ltr table {
    direction: ltr; }
  .dir-ltr td {
    border-right: 1px solid #BDBDBD;
    border-left: 0 solid #BDBDBD; }
  .dir-ltr td:last-child {
    border-right: 0 solid #BDBDBD; }
  .dir-ltr th {
    border-right: 1px solid #BDBDBD;
    border-left: 0 solid #BDBDBD; }
  .dir-ltr th:last-child {
    border-right: 0 solid #BDBDBD; }
  .dir-ltr th, .dir-ltr tr, .dir-ltr td {
    text-align: inherit; }

.pos-left table {
  margin: 0 auto 0 0; }

.pos-center table {
  margin: 0 auto; }

.pos-right table {
  margin: 0 0 0 auto; }

/**
 * Code formatting
 */
pre,
code {
  font-family: monospace;
  direction: ltr;
  unicode-bidi: embed;
  border-radius: 3px;
  line-height: 1.3em;
  font-size: 1.05em; }

pre {
  overflow-x: auto; }
  pre pre > code {
    padding-right: 10px;
    padding-left: 10px; }

pre.highlight {
  margin: 16px auto;
  padding: 15px 20px;
  background-color: #272822; }
  @media screen and (max-width: 500px) {
    pre.highlight {
      padding: 10px 8px; } }

.highlight {
  padding: 15px 20px; }
  @media screen and (max-width: 500px) {
    .highlight {
      padding: 10px 8px; } }

.highlighter-rouge {
  color: #eef; }

code.highlighter-rouge {
  font-size: 1.2em;
  color: #d14;
  background: #eef;
  padding: 1.5px 6px;
  font-weight: bold;
  margin: 1px; }

figure {
  margin: 0; }

.highlight {
  padding: 15px 0; }

.highlight pre {
  padding: 10px 12px; }

@media screen and (max-width: 500px) {
  figure {
    margin: 0; }

  .highlight {
    padding: 10px 0; }

  .highlight pre {
    padding: 5px 8px; } }
.highlight pre {
  background-color: #272822; }

.highlight .hll {
  background-color: #272822; }

.highlight .c {
  color: #75715e; }

.highlight .err {
  color: #960050;
  background-color: #1e0010; }

.highlight .k {
  color: #66d9ef; }

.highlight .l {
  color: #ae81ff; }

.highlight .n {
  color: #f8f8f2; }

.highlight .o {
  color: #f92672; }

.highlight .p {
  color: #f8f8f2; }

.highlight .cm {
  color: #75715e; }

.highlight .cp {
  color: #75715e; }

.highlight .c1 {
  color: #75715e; }

.highlight .cs {
  color: #75715e; }

.highlight .ge {
  font-style: italic; }

.highlight .gs {
  font-weight: bold; }

.highlight .kc {
  color: #66d9ef; }

.highlight .kd {
  color: #66d9ef; }

.highlight .kn {
  color: #f92672; }

.highlight .kp {
  color: #66d9ef; }

.highlight .kr {
  color: #66d9ef; }

.highlight .kt {
  color: #66d9ef; }

.highlight .ld {
  color: #e6db74; }

.highlight .m {
  color: #ae81ff; }

.highlight .s {
  color: #e6db74; }

.highlight .na {
  color: #a6e22e; }

.highlight .nb {
  color: #f8f8f2; }

.highlight .nc {
  color: #a6e22e; }

.highlight .no {
  color: #66d9ef; }

.highlight .nd {
  color: #a6e22e; }

.highlight .ni {
  color: #f8f8f2; }

.highlight .ne {
  color: #a6e22e; }

.highlight .nf {
  color: #a6e22e; }

.highlight .nl {
  color: #f8f8f2; }

.highlight .nn {
  color: #f8f8f2; }

.highlight .nx {
  color: #a6e22e; }

.highlight .py {
  color: #f8f8f2; }

.highlight .nt {
  color: #f92672; }

.highlight .nv {
  color: #f8f8f2; }

.highlight .ow {
  color: #f92672; }

.highlight .w {
  color: #f8f8f2; }

.highlight .mf {
  color: #ae81ff; }

.highlight .mh {
  color: #ae81ff; }

.highlight .mi {
  color: #ae81ff; }

.highlight .mo {
  color: #ae81ff; }

.highlight .sb {
  color: #e6db74; }

.highlight .sc {
  color: #e6db74; }

.highlight .sd {
  color: #e6db74; }

.highlight .s2 {
  color: #e6db74; }

.highlight .se {
  color: #ae81ff; }

.highlight .sh {
  color: #e6db74; }

.highlight .si {
  color: #e6db74; }

.highlight .sx {
  color: #e6db74; }

.highlight .sr {
  color: #e6db74; }

.highlight .s1 {
  color: #e6db74; }

.highlight .ss {
  color: #e6db74; }

.highlight .bp {
  color: #f8f8f2; }

.highlight .vc {
  color: #f8f8f2; }

.highlight .vg {
  color: #f8f8f2; }

.highlight .vi {
  color: #f8f8f2; }

.highlight .il {
  color: #ae81ff; }

.highlight .gh {
  color: #ff0000; }

.highlight .gu {
  color: #75715e; }

.highlight .gd {
  color: #f92672; }

.highlight .gi {
  color: #a6e22e; }

.image-wrapper {
  text-align: center; }
  .image-wrapper img {
    max-width: 70%;
    display: inherit;
    height: initial;
    margin: 10px auto; }
    @media screen and (max-width: 700px) {
      .image-wrapper img {
        max-width: 90%; } }
  .image-wrapper .image-caption {
    color: #9E9E9E;
    margin: 10px;
    font-size: 0.9em;
    font-style: italic; }

blockquote {
  background: #f9f9f9;
  border-right: 10px solid #c76c0c;
  border-left: 0;
  font-size: 16px;
  line-height: 1.2;
  text-align: justify;
  color: #2b2b2b;
  margin: 1.5em 1.5px;
  padding: 15px; }
  blockquote p {
    color: #2b2b2b !important; }
  blockquote p:first-child:before {
    color: #BDBDBD;
    content: " ”";
    font-family: Georgia, serif;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.16em;
    vertical-align: -0.4em;
    margin-left: 10px; }

.video-container {
  margin: 20px auto;
  width: 75%;
  background: url("https://sadra.github.io/assets/img/base/not-loaded.png") no-repeat center;
  background-size: cover; }
  @media screen and (max-width: 600px) {
    .video-container {
      width: 95%; } }
  @media screen and (max-width: 900px) {
    .video-container {
      width: 90%; } }
  @media screen and (max-width: 1300px) {
    .video-container {
      width: 85%; } }

html {
  position: relative;
  height: 100%; }

body {
  direction: rtl;
  height: 100%; }

header.header-rtl {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 80px; }
  header.header-rtl nav.nav-wrap {
    width: 80%;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    position: absolute;
    z-index: 900;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    margin: auto;
    border-bottom: 1px solid #EEEEEE; }
    @media screen and (max-width: 670px) {
      header.header-rtl nav.nav-wrap {
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
        display: block; } }
    header.header-rtl nav.nav-wrap .nav-logo {
      font-weight: 900;
      color: #000000;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      font-size: 1em; }
      @media screen and (max-width: 670px) {
        header.header-rtl nav.nav-wrap .nav-logo {
          font-size: 0.9em; } }
    header.header-rtl nav.nav-wrap .nav-logo:hover {
      color: #009688; }
    header.header-rtl nav.nav-wrap ul.navigation {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding-right: 0 !important; }
      @media screen and (max-width: 670px) {
        header.header-rtl nav.nav-wrap ul.navigation {
          padding-bottom: 10px; } }
      header.header-rtl nav.nav-wrap ul.navigation li {
        display: block;
        padding-left: 30px; }
        header.header-rtl nav.nav-wrap ul.navigation li a {
          color: #000000;
          -webkit-transition: all 0.15s ease-in;
          transition: all 0.15s ease-in;
          font-size: 1em; }
        header.header-rtl nav.nav-wrap ul.navigation li a:hover {
          color: #009688; }
        @media screen and (max-width: 670px) {
          header.header-rtl nav.nav-wrap ul.navigation li {
            padding-left: 10px; }
            header.header-rtl nav.nav-wrap ul.navigation li a {
              font-size: 1em; } }
      header.header-rtl nav.nav-wrap ul.navigation li:last-of-type {
        padding-left: 0; }

footer.footer-wrapper {
  width: 80%;
  height: auto;
  padding: 30px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0; }
  footer.footer-wrapper p {
    text-align: center;
    line-height: 1.2em;
    margin-bottom: 15px; }
  footer.footer-wrapper .delimiter {
    width: 100%;
    border-top: 1px solid #EEEEEE; }
  footer.footer-wrapper .footer-logo {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 2rem;
    height: 2.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
    padding: 0 2rem;
    background-color: #FFFFFF; }
  footer.footer-wrapper .logo-wrapper {
    display: block;
    max-width: 40px;
    max-height: 40px; }
  footer.footer-wrapper .footer-copyright {
    font-size: 1em; }
    @media screen and (max-width: 500px) {
      footer.footer-wrapper .footer-copyright {
        font-size: 0.8em; } }
  footer.footer-wrapper .footer-social-links {
    direction: ltr;
    font-size: 14px;
    text-align: center;
    margin: 5px auto; }
  footer.footer-wrapper .footer-social-links a {
    width: 30px;
    height: 30px;
    line-height: 30px !important;
    position: relative;
    margin: 0 5px;
    text-align: center;
    display: inline-block;
    color: #000000;
    padding: 0;
    -webkit-transition: all 0.07s cubic-bezier(0.3, 0.1, 0.58, 1);
    transition: all 0.07s cubic-bezier(0.3, 0.1, 0.58, 1); }
  footer.footer-wrapper .footer-social-links a i,
  footer.footer-wrapper .footer-social-links a span {
    position: relative;
    top: 2px;
    left: 1px; }
  footer.footer-wrapper .footer-social-links a:before {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #000000;
    border-radius: 2px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.07s cubic-bezier(0.3, 0.1, 0.58, 1);
    transition: all 0.07s cubic-bezier(0.3, 0.1, 0.58, 1); }
  footer.footer-wrapper .footer-social-links a:hover {
    color: #FFFFFF; }
  footer.footer-wrapper .footer-social-links a:hover:before {
    background: #000000; }

.content {
  padding: 30px 10px;
  margin: 0 auto;
  width: 85%;
  min-height: 60%;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media screen and (max-width: 500px) {
    .content {
      padding: 15px 5px;
      width: 95%;
      margin-top: 15px; } }

.content:after {
  content: "";
  display: block; }

.blog-post-list {
  width: 100%;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  position: relative;
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 0 auto; }
  .blog-post-list .blog-post-item-container {
    clear: both;
    margin-top: 10px;
    margin-bottom: 20px; }
    @media screen and (max-width: 500px) {
      .blog-post-list .blog-post-item-container {
        margin-top: 7px;
        margin-bottom: 15px; } }
    .blog-post-list .blog-post-item-container .post-date-box {
      float: right;
      overflow: hidden; }
    .blog-post-list .blog-post-item-container .post-feature-box {
      margin-right: 15px;
      overflow: hidden; }
    .blog-post-list .blog-post-item-container .post-item-date {
      color: #9EA3B4;
      margin-top: 3px;
      margin-left: 10px;
      font-size: 0.75em;
      line-height: 1.1em;
      font-weight: 200;
      text-align: center; }
      @media screen and (max-width: 500px) {
        .blog-post-list .blog-post-item-container .post-item-date {
          font-size: 0.65em;
          line-height: 0.95em;
          font-weight: 100;
          margin-top: 5.5px; } }
    .blog-post-list .blog-post-item-container .post-item-title {
      color: #1C1E24;
      font-weight: 900;
      font-size: 1.3em;
      display: inline-block;
      height: 25px;
      line-height: 20px; }
      @media screen and (max-width: 500px) {
        .blog-post-list .blog-post-item-container .post-item-title {
          font-size: 1.05em;
          font-weight: 900;
          margin-right: 5px; } }
    .blog-post-list .blog-post-item-container .post-item-title:hover {
      color: #009688; }
    .blog-post-list .blog-post-item-container .post-list-routes {
      margin: 5px 0 5px 5px; }
      .blog-post-list .blog-post-item-container .post-list-routes .tag-link {
        unicode-bidi: embed;
        white-space: nowrap;
        display: inline-block;
        height: 20px;
        font-size: 0.6em;
        margin-bottom: 2px;
        margin-left: 3px;
        background-color: #9C27B0;
        color: #ffffff;
        padding: 5px;
        border: solid 1px #9C27B0;
        border-radius: 3px; }
        @media screen and (max-width: 500px) {
          .blog-post-list .blog-post-item-container .post-list-routes .tag-link {
            font-size: 0.55em;
            margin-left: 1px; } }
      .blog-post-list .blog-post-item-container .post-list-routes .tag-link:hover,
      .blog-post-list .blog-post-item-container .post-list-routes .tag-link:active {
        background-color: #b0167b;
        border-color: #b0167b; }
      .blog-post-list .blog-post-item-container .post-list-routes .tag-link:before {
        content: "#"; }
      .blog-post-list .blog-post-item-container .post-list-routes .category-link {
        unicode-bidi: embed;
        white-space: nowrap;
        display: inline-block;
        height: 22px;
        font-size: 0.7em;
        margin-bottom: 2px;
        color: #5f859f;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 3px;
        font-weight: bold; }
        @media screen and (max-width: 500px) {
          .blog-post-list .blog-post-item-container .post-list-routes .category-link {
            font-size: 0.6em; } }
      .blog-post-list .blog-post-item-container .post-list-routes .category-link:hover,
      .blog-post-list .blog-post-item-container .post-list-routes .category-link:active {
        color: #37474F; }
      .blog-post-list .blog-post-item-container .post-list-routes .category-link:after {
        content: " / "; }

.post-item-year {
  margin-top: 25px;
  margin-bottom: 5px; }

.post-item-year:after {
  content: " ⌐"; }

.blog-post-container {
  direction: rtl;
  width: 100%;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  position: relative;
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  margin: auto; }
  @media screen and (max-width: 800px) {
    .blog-post-container {
      width: 92%; }
      .blog-post-container h1 {
        font-size: 1.5em;
        line-height: 1.3em; } }
  .blog-post-container h1, .blog-post-container h2, .blog-post-container h3, .blog-post-container h4, .blog-post-container h5, .blog-post-container p {
    direction: rtl;
    text-align: right; }
  .blog-post-container p {
    font-size: 1em;
    color: #2b2b2b;
    font-weight: 100;
    line-height: 1.5em; }
    .blog-post-container p img {
      max-width: 70%;
      display: inherit;
      height: initial;
      margin: 10px auto; }
      @media screen and (max-width: 700px) {
        .blog-post-container p img {
          max-width: 90%; } }
  .blog-post-container ol li {
    line-height: 1.9em !important; }
    .blog-post-container ol li p {
      line-height: 1.9em !important;
      padding: 0; }
  .blog-post-container ul li {
    line-height: 1.9em !important; }
    .blog-post-container ul li p {
      line-height: 1.9em !important;
      padding: 0; }
  .blog-post-container .post-title-container {
    width: 100%;
    margin-top: 0;
    margin-bottom: 20px; }
    @media screen and (max-width: 600px) {
      .blog-post-container .post-title-container {
        margin-top: 30px;
        margin-bottom: 20px; } }
    @media screen and (max-width: 400px) {
      .blog-post-container .post-title-container {
        margin-top: 30px;
        margin-bottom: 20px; } }
  .blog-post-container .post_created {
    margin: 40px 0 50px 0; }
    .blog-post-container .post_created .author_avatar {
      float: right;
      margin-left: 20px; }
      .blog-post-container .post_created .author_avatar img {
        width: 60px;
        height: 60px;
        border-radius: 50%; }
    .blog-post-container .post_created .post_info {
      line-height: 0.8em;
      margin-right: 15px;
      width: 100%; }
      .blog-post-container .post_created .post_info p {
        line-height: 0.1em; }
      .blog-post-container .post_created .post_info small {
        font-size: 0.75em;
        font-weight: 300;
        color: #BDBDBD;
        line-height: 1.7em; }
  .blog-post-container .post-routes-list {
    margin: 25px 0 30px 5px; }
    .blog-post-container .post-routes-list .tag-link {
      unicode-bidi: embed;
      white-space: nowrap;
      display: inline-block;
      height: 20px;
      font-size: 0.6em;
      margin-bottom: 2px;
      margin-left: 3px;
      background-color: #9C27B0;
      color: #ffffff;
      padding: 5px;
      border: solid 1px #9C27B0;
      border-radius: 3px; }
      @media screen and (max-width: 500px) {
        .blog-post-container .post-routes-list .tag-link {
          font-size: 0.55em;
          margin-left: 1px; } }
    .blog-post-container .post-routes-list .tag-link:hover,
    .blog-post-container .post-routes-list .tag-link:active {
      background-color: #b0167b;
      border-color: #b0167b; }
    .blog-post-container .post-routes-list .tag-link:before {
      content: "#"; }
    .blog-post-container .post-routes-list .category-link {
      unicode-bidi: embed;
      white-space: nowrap;
      display: inline-block;
      height: 22px;
      font-size: 0.7em;
      margin-bottom: 2px;
      color: #5f859f;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 3px;
      font-weight: bold; }
      @media screen and (max-width: 500px) {
        .blog-post-container .post-routes-list .category-link {
          font-size: 0.6em; } }
    .blog-post-container .post-routes-list .category-link:hover,
    .blog-post-container .post-routes-list .category-link:active {
      color: #37474F; }
    .blog-post-container .post-routes-list .category-link:after {
      content: " / "; }
  .blog-post-container .post-cover {
    overflow: hidden;
    height: auto;
    width: 100%;
    margin: 10px 0 30px 0; }
    .blog-post-container .post-cover img {
      width: 100%; }
  .blog-post-container .Prev-next-post-container {
    display: flow-root;
    direction: ltr;
    margin-top: 20px;
    clear: both; }
    .blog-post-container .Prev-next-post-container a {
      text-decoration: none;
      display: inline-block;
      padding: 8px 16px;
      direction: rtl; }
    .blog-post-container .Prev-next-post-container .previous-btn {
      color: #000000;
      float: left;
      text-align: left;
      width: auto; }
      @media screen and (max-width: 400px) {
        .blog-post-container .Prev-next-post-container .previous-btn {
          width: 100%;
          margin: 5px 5px 5px 0px; } }
    .blog-post-container .Prev-next-post-container .next-btn {
      color: #000000;
      float: right;
      text-align: right;
      width: auto; }
      @media screen and (max-width: 400px) {
        .blog-post-container .Prev-next-post-container .next-btn {
          width: 100%;
          margin: 5px 0px 5px 5px; } }
    .blog-post-container .Prev-next-post-container .next-btn:hover,
    .blog-post-container .Prev-next-post-container .next-btn:active,
    .blog-post-container .Prev-next-post-container .previous-btn:active,
    .blog-post-container .Prev-next-post-container .previous-btn:hover {
      color: #ffffff;
      background-color: #FFB300; }
  .blog-post-container .related-posts-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 5px 20px 0 20px;
    width: 100%;
    background-color: #FFFFFF; }
    @media screen and (max-width: 800px) {
      .blog-post-container .related-posts-container {
        display: initial; } }
    .blog-post-container .related-posts-container .related-post-box {
      margin: 10px;
      width: 30%;
      border-radius: 3px;
      box-shadow: 0 1px 7px rgba(0, 0, 0, 0.2); }
      @media screen and (max-width: 800px) {
        .blog-post-container .related-posts-container .related-post-box {
          width: auto; } }
    .blog-post-container .related-posts-container .related-post-box-info {
      height: 85px;
      padding: 0 8px 8px 8px;
      display: table; }
      .blog-post-container .related-posts-container .related-post-box-info a {
        display: table-cell;
        vertical-align: middle;
        color: #050505;
        font-size: 1em;
        height: 100%;
        overflow: hidden;
        line-height: 1.4em;
        text-align: right; }
      .blog-post-container .related-posts-container .related-post-box-info a:hover,
      .blog-post-container .related-posts-container .related-post-box-info a:active {
        color: #29B6F6; }
    .blog-post-container .related-posts-container .related-post-box-cover {
      width: 100%;
      height: 90px;
      overflow: hidden;
      background-position: 50% 50% !important;
      background-size: 100% auto; }
      .blog-post-container .related-posts-container .related-post-box-cover a {
        width: 100%;
        height: 100%; }
  .blog-post-container .related-posts-title {
    margin-top: 25px; }
  .blog-post-container .post-content {
    direction: rtl; }
  .blog-post-container .image-wrapper img {
    margin: 10px 5px 0 5px; }
  .blog-post-container .image-wrapper a {
    margin: 0; }
  .blog-post-container .image-wrapper .image-caption {
    text-align: center;
    margin: 0 5px; }

.back-to-top {
  cursor: pointer;
  position: fixed;
  bottom: 5px;
  left: 10px;
  display: none;
  z-index: 9999999; }
  .back-to-top .arrow-up {
    color: rgba(19, 96, 244, 0.8);
    margin: 0;
    opacity: 0.8; }

.archive-title {
  font-size: 1.2em;
  margin: 15px 0;
  color: #546E7A; }
  @media screen and (max-width: 500px) {
    .archive-title {
      font-size: 1.1em;
      margin-bottom: 7px; } }
  .archive-title span {
    color: #37474F;
    font-size: 1.3em; }
    @media screen and (max-width: 500px) {
      .archive-title span {
        font-size: 1.2em; } }

.list-items-container {
  margin: 15px 0 15px 0; }
  .list-items-container .list-item-tag {
    unicode-bidi: embed;
    white-space: nowrap;
    display: inline-block;
    height: 27px;
    font-size: 1em;
    margin-bottom: 5px;
    margin-left: 5px;
    background-color: #9C27B0;
    color: #ffffff;
    padding: 5px;
    border: solid 1px #9C27B0;
    border-radius: 5px; }
    @media screen and (max-width: 500px) {
      .list-items-container .list-item-tag {
        font-size: 0.9em;
        margin-left: 3px; } }
  .list-items-container .list-item-tag:hover,
  .list-items-container .list-item-tag:active {
    background-color: #b0167b;
    border-color: #b0167b; }
  .list-items-container .list-item-tag:before {
    content: "#"; }

.list-item-category {
  unicode-bidi: embed;
  white-space: nowrap;
  display: inline-block;
  height: 27px;
  font-size: 1em;
  margin-bottom: 5px;
  margin-left: 5px;
  color: #5f859f;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 3px;
  font-weight: bold; }
  @media screen and (max-width: 500px) {
    .list-item-category {
      font-size: 0.9em; } }

.list-item-category:hover,
.list-item-category:active {
  color: #b0167b; }

.list-item-category:after {
  content: " / "; }

.list-title {
  font-size: 1.2em;
  margin: 15px 0;
  color: #546E7A; }
  @media screen and (max-width: 500px) {
    .list-title {
      font-size: 1.1em;
      margin-bottom: 7px; } }
  .list-title span {
    color: #37474F;
    font-size: 1.3em; }
    @media screen and (max-width: 500px) {
      .list-title span {
        font-size: 1.2em; } }

.err404-container {
  direction: ltr;
  background: url("/assets/img/base/404-notfound-cover.jpg") no-repeat center center fixed;
  background-size: cover; }

.err404-container-content {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); }
  .err404-container-content h1 {
    font-size: 5em;
    font-family: Arial;
    color: #ffb101; }
  .err404-container-content h2 {
    margin-top: 10px;
    font-size: 1.8em;
    color: #ffffff; }
  .err404-container-content p {
    margin-top: 15px;
    font-size: 1em;
    color: #c3c3c3;
    line-height: 1.4em; }
  .err404-container-content a {
    color: #ffb101; }

.err404-description-container {
  float: left;
  margin: 10px;
  padding: 15px;
  width: 30%;
  color: #ffffff; }
  @media screen and (max-width: 590px) {
    .err404-description-container {
      width: 95%; } }

.err404-movie-container {
  float: right;
  margin: 10px;
  padding: 15px;
  width: 30%;
  color: #ffffff; }
  @media screen and (max-width: 590px) {
    .err404-movie-container {
      width: 95%; } }
