---
layout: theme_rtl
title: اسکرین کست‌ها
---

<div class="content">

    <div class="cast-list-header-container">
        <img src="{{ site.url }}/assets/img/base/cast-title-bg-fade.jpg">
        <h1 class="casts-list-title">ویدئو کَست</h1>
        <h1 class="casts-list-subtitle">وید‌يوهای کوتاه، بهترین شیرینی همراه با قهوه اول صبح ;)</h1>
    </div>

    <div class="casts-box-container">
        {% assign casts = site.screencast | sort: 'date' | reverse %}
        {% for cast in casts %}
        <div class="cast-box">
            <img class="cast-cover" src="{{ site.url }}{{ cast.cover }}" alt="{{ cast.title }}" />
            <div class="cast-data-container">

                <div class="cast-tags">
                    {% capture the14dayago %}{{'now' | date: '%s' | minus : 1209600}}{% endcapture %}
                    {% capture casttime %}{{cast.date | date: '%s'}}{% endcapture %}
                    {% if casttime > the14dayago %}
                    <div class="new">جدید</div>
                    {% endif %}

                    {% for category in cast.categories %}
                    <div class="cast-category">{{ category }}</div>
                    {% endfor %}
                </div>

                <a class="post-item-title-link" href="{{ cast.url }}"><p class="post-item-title">{{ cast.cast-title }}</p></a>
                <div class="cast-info">
                    <span>{{ cast.date | jdate: "%d %b %y"}} </span><i class="divider"></i><span> {{ cast.cast-time-minutes }} دقیقه و {{ cast.cast-time-seconds }} ثانیه</span>
                </div>

            </div>
        </div>
        <div class="cast-box">
            <img class="cast-cover" src="{{ site.url }}{{ cast.cover }}" alt="{{ cast.title }}" />
            <div class="cast-data-container">

                <a class="post-item-title-link" href="{{ cast.url }}"><p class="post-item-title">{{ cast.cast-title }}</p></a>
                <div class="cast-info">
                    <span>{{ cast.date | jdate: "%d %b %y"}} </span><i class="divider"></i><span> {{ cast.cast-time-minutes }} دقیقه و {{ cast.cast-time-seconds }} ثانیه</span>
                </div>

            </div>
        </div>
        <div class="cast-box">
            <img class="cast-cover" src="{{ site.url }}{{ cast.cover }}" alt="{{ cast.title }}" />
            <div class="cast-data-container">

                {% capture the14dayago %}{{'now' | date: '%s' | minus : 1209600}}{% endcapture %}
                {% capture casttime %}{{cast.date | date: '%s'}}{% endcapture %}
                {% if casttime > the14dayago %}
                    <div class="new">جدید</div>
                {% endif %}

                <a class="post-item-title-link" href="{{ cast.url }}"><p class="post-item-title">{{ cast.cast-title }}</p></a>
                <div class="cast-info">
                    <span>{{ cast.date | jdate: "%d %b %y"}} </span><i class="divider"></i><span> {{ cast.cast-time-minutes }} دقیقه و {{ cast.cast-time-seconds }} ثانیه</span>
                </div>

            </div>
        </div>
        {% endfor %}
    </div>

</div>
