---
layout: theme_rtl
---

<div class="content">

    <div class="blog-post-container">

        <div class="post-title-container">
            <h1 class="post-title">{{ page.title }}</h1>
        </div>

        {% if page.cover %}
        <div class="post-cover">
            <img src="{{ site.url }}{{ page.cover }}" alt="{{ page.title }}">
        </div>
        {% endif %}

        <div class="post-content">
            {{ content }}
        </div>

        <div class="post_created">

            <div class="author_avatar">
                <img src="{{ site.data.authors[page.author].avatar }}" alt="{{ site.data.authors[page.author].name }}" id="avatar-img" />
            </div>

            <div class="post_info">
                <p> <a href="{{ site.data.authors[page.author].info-url }}">{{ site.data.authors[page.author].name }}</a> </p>
                <small>{{ site.data.authors[page.author].bio }}</small><br/>
                <small> در {{ page.date | jdate: "%A %d %b %Y"}}</small>
            </div>

        </div>

        <div class="post-routes-list">
            {% for category in page.categories %}
            <a class="category-link" href="/category/{{ category | slugify }}">{{ category }}</a>
            {% endfor %}
            {% for tag in page.tags %}
            <a class="tag-link" href="/tag/{{ tag | slugify }}">{{ tag }}</a>
            {% endfor %}
        </div>


        <div class="Prev-next-post-container">
            {% if page.previous.url %}
            <a class="previous-btn" href="{{page.previous.url}}">نوشته قبلی: {{page.previous.title}} ←</a>
            {% endif %}
            {% if page.next.url %}
            <a class="next-btn" href="{{page.next.url}}">→ نوشته بعدی: {{page.next.title}}</a>
            {% endif %}
        </div>


    </div>

</div>