---
layout: theme_rtl
---

<script xmlns:date="http://www.w3.org/1999/xhtml">

    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
        document.getElementById("back-to-top").style.display = (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) ? "block" : "none";
    }

    function topFunction() {
        document.body.scrollTop = 0; // For Safari
        document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    }

</script>


<div class="content">

    <div class="blog-post-container">

        <div class="post-title-container">
            <h1 class="post-title">{{ page.title }}</h1>
        </div>

        <div class="post_created">

            <div class="author_avatar">
                <img src="{{ site.data.authors[page.author].avatar }}" alt="{{ site.data.authors[page.author].name }}" id="avatar-img" />
            </div>

            <div class="post_info">
                <p> <a href="{{ site.data.authors[page.author].info-url }}">{{ site.data.authors[page.author].name }}</a> </p>
                <small>{{ site.data.authors[page.author].bio }}</small><br/>
                <small>{{ page.date | jdate: "%A %d %b %Y"}}</small>
            </div>

        </div>

        {% if page.cover %}
        <div class="post-cover">
            <img src="{{ site.url }}{{ page.cover }}" alt="{{ page.title }}">
        </div>
        {% endif %}

        <div class="post-content">
            {{ content }}
        </div>


        <div class="post-routes-list">
            {% for category in page.categories %}
            <a class="category-link" href="/category/{{ category | slugify }}">{{ category }}</a>
            {% endfor %}
            {% for tag in page.tags %}
            <a class="tag-link" href="/tag/{{ tag | slugify }}">{{ tag }}</a>
            {% endfor %}
        </div>


        <div class="Prev-next-post-container">
            {% if page.previous.url %}
            <a class="previous-btn" href="{{page.previous.url}}">نوشته قبلی: {{page.previous.title}} ←</a>
            {% endif %}
            {% if page.next.url %}
            <a class="next-btn" href="{{page.next.url}}">→ نوشته بعدی: {{page.next.title}}</a>
            {% endif %}
        </div>

        <div class="commets-delimiter" />

        <script
                data-isso-vote="true"
                data-isso-avatar="true"
                data-isso="https://isso.isapanah.com/"
                data-isso-lang="ru"
                src="{{ site.url }}/assets/js/embed.min.js"></script>

        <section id="isso-thread">
        </section>

    </div>

</div>

<a id="back-to-top" class="back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left" onclick="topFunction()">
    <img src="/assets/img/base/arrow-up.png" class="arrow-up"/>
</a>
