---
layout: theme_rtl
---

<div class="content">

    <div class="blog-post-container">

        {% if page.cover %}
            <div class="post-cover">
                <img src="{{ site.baseurl }}{{ page.cover }}" alt="{{ page.title }}">
            </div>
        {% endif %}

        <div class="post-title-container">
            <h1 class="post-title">{{ page.title }}</h1>
        </div>

        <div class="post_created">
            <p>توسط <a href="{{ site.data.authors[page.author].info-url }}">{{ site.data.authors[page.author].name }}</a>  در {{ page.date | jdate: "%A %d %b %Y"}}</p> <br/>
        </div>

        <div class="post-content">
            {{ content }}
        </div>

        <div class="post-routes-list">
            {% for category in page.categories %}
            <a class="category-link" href="/category/{{ category | slugify }}">{{ category }}</a>
            {% endfor %}
            {% for tag in page.tags %}
            <a class="tag-link" href="/tag/{{ tag | slugify }}">{{ tag }}</a>
            {% endfor %}
        </div>

        <div class="author-card">
            <div class="author-message">
                <img src="{{ site.data.authors[page.author].avatar }}" alt="{{ site.data.authors[page.author].name }}" id="avatar-img" />
                <p>شما می‌توانید بجای نوشتن نظر زیر پست، این مطلب را توییت کرده و نظر خود را به اشتراک بگذارید، همچنین می‌توانید قسمتی از متن را با ذکر منبع، در وبلاگ خود قرار دهید. متشکرم :)</p>
            </div>
            <div class="addthis_inline_share_toolbox">Share it With: </div>
        </div>

    </div>

</div>