<!DOCTYPE html>
<!--[if IE 7]>
<html class="ie ie7" dir="rtl" lang="fa-IR">
<![endif]-->
<!--[if IE 8]>
<html class="ie ie8" dir="rtl" lang="fa-IR">
<![endif]-->
<!--[if !(IE 7) | !(IE 8)  ]><!-->
<html dir="rtl" lang="fa-IR">
<!--<![endif]-->
    <head>
        {% include theme-rtl/head.html %}
    </head>

    <body dir="rtl" lang="Farsi" >
        {% include theme-rtl/header.html %}

        {{ content }}

        {% include theme-rtl/footer.html %}

        {% include theme-rtl/js-link.html %}
    </body>
</html>
